mixin karaoke-gallery
    section
        h1 OUR BEST KARAOKE SINGERS
        .owl-carousel.karaoke-gallery-carousel
            .item
                video.karaoke-video(
                    id="vid1",
                    class="video-js vjs-default-skin",
                    controls
                    data-setup=`{
                        "techOrder": ["youtube"],
                        "sources": [{
                            "type": "video/youtube",
                            "src": "https://www.youtube.com/watch?v=oO7Y8NsnkRg"
                        }],
                        "youtube": {
                            "iv_load_policy": 1
                        }
                    }`
                )
            .item
                video.karaoke-video(
                    id="vid2",
                    class="video-js vjs-default-skin",
                    controls
                    data-setup=`{
                        "techOrder": ["youtube"],
                        "sources": [{
                            "type": "video/youtube",
                            "src": "https://www.youtube.com/watch?v=cK3NMZAUKGw"
                        }],
                        "youtube": {
                            "iv_load_policy": 1
                        }
                    }`
                )
            .item
                video.karaoke-video(
                    id="vid3",
                    class="video-js vjs-default-skin",
                    controls
                    data-setup=`{
                        "techOrder": ["youtube"],
                        "sources": [{
                            "type": "video/youtube",
                            "src": "https://www.youtube.com/watch?v=001a4x0D1jY"
                        }],
                        "youtube": {
                            "iv_load_policy": 1
                        }
                    }`
                )
            .item
                video.karaoke-video(
                    id="vid4",
                    class="video-js vjs-default-skin",
                    controls
                    data-setup=`{
                        "techOrder": ["youtube"],
                        "sources": [{
                            "type": "video/youtube",
                            "src": "https://www.youtube.com/watch?v=GvD3CHA48pA"
                        }],
                        "youtube": {
                            "iv_load_policy": 1
                        }
                    }`
                )
