include mixins
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Music Arsenal
body
    header.header
        .upper-navigation
            .upper-navigation__item
                span.upper-navigation__link
                    a.upper-navigation__city(href='#') Новосибирск
                    span  →
                    a.upper-navigation__street(href='#') ул. Октябрьская, 34
            .upper-navigation__item
                span.upper-navigation__link
                    img(src='img/phone-icon.png' alt='Phone')
                    a.upper-navigation__phone(href='tel:3832408080') (383) 240-80-80,
                    a.upper-navigation__phone(href='tel:3832408080') 240-80-00
            .upper-navigation__item
                nav
                    ul.header-navigation
                        -
                            let headerNavigation = [
                                ['#', 'Как купить'],
                                ['#', 'Гарантия'],
                                ['#', 'Доставка']
                            ];
                        each val in headerNavigation
                            li.header-navigation__item
                                a.header-navigation__link(href=val[0])= val[1]
            .upper-navigation__item
                a.upper-navigation__link(href='#')
                    span.upper-navigation__account Мой арсенал
            .upper-navigation__item
                img.upper-navigation__social-image(src='img/VK-icon.png' alt='VK')
        .shop-bar
            .shop-bar__item
                a.logo(href='#')
                    img(src='img/logo.png' alt='Музыкальный арсенал')
                    span.logo__text Мы работаем на ваш талант!
            .shop-bar__item.shop-bar__item--growed
                .search
                    input.search__input(type='text' placeholder='Поиск товаров')
                    img.search__image(src='img/search-icon.png' alt='search')
            .shop-bar__item.cart
                img(src='img/cart-icon.png' alt='cart')
                span Корзина
                span.cart__items-count 25
        .header-menu
            -
                var headerMenu = [
                    ['#', 'Акции'],
                    ['#', 'Музыкальные инструменты', [
                        ['#', 'Гитары'],
                        ['#', 'Ударные', [
                            ['#', 'Тарелки'],
                            ['#', 'Тренировочные пэды', [
                                'img/headerMainMenuImage1.png',
                                'DBZ Halifire',
                                'Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.',
                                '89 750',
                                '83 550',
                            ]],
                            ['#', 'Пластики'],
                            ['#', 'Барабанные палочки'],
                            ['#', 'Чехлы, кейсы, сумки'],
                            ['#', 'Аксессуары'],
                            ['#', 'Перкуссия'],
                        ]],
                        ['#', 'Клавишные'],
                        ['#', 'Духовые'],
                        ['#', 'Смычковые'],
                        ['#', 'Народные'],
                    ]],
                    ['#', 'DJ'],
                    ['#', 'Шоу-техника'],
                    ['#', 'Студия'],
                    ['#', 'Звук'],
                    ['#', 'Свет'],
                    ['#', 'Коммутация'],
                    ['#', 'Стойки'],
                ];
                var headerMenuLevel = 1;
            //- Declaration
            mixin headerMenuItem(headerMenuLevel, item)
                - let imageUrl = item[0];
                - let className = 'level-' + headerMenuLevel + '-menu';
                ul(class='menu ' + className)
                    div(class= className + '__item')
                        img(src=item[0] alt='guitar')
                        h4(class= className + '__name')= item[1]
                        p(class= className + '__info')= item[2]
                        div(class= className + '__price-container')
                            span(class= className + '__price-old')= item[3]
                            span(class= className + '__price-new')= item[4] + '₽'
            mixin headerMenu(headerMenuLevel, items)
                - let i = 0;
                - let className = 'level-' + headerMenuLevel + '-menu';
                ul(class='dropdown ' + 'menu ' + className, data-dropdown-menu)
                    while i < items.length
                        li
                            a(class=className + '__link' href=items[i][0])= items[i][1]
                            if items[i][2]
                                - headerMenuLevel++
                                    if headerMenuLevel <= 3
                                        +headerMenu(headerMenuLevel, items[i][2])
                                    else
                                        +headerMenuItem(headerMenuLevel, items[i][2])
                        - i++
                    - i = 0
            //- Use
            +headerMenu(headerMenuLevel, headerMenu)
        .orbit.header-carousel(role='region', data-orbit)
            .orbit-wrapper
                ul.orbit-container
                    li.is-active.orbit-slide
                        figure.orbit-figure.img1
                            .header-carousel__container
                                span Новинка
                                h2 ARIA MAC-STD
                                p.
                                    Станьте ближе к любимой музыке вместе с P5 Series 2. У последней версии полностью
                                    обновлена конструкция динамиков, что подняло качество звука на новый уровень, а
                                    материалы высокого качества обеспечивают комфорт.
                    li.orbit-slide
                        figure.orbit-figure.img2
                            .header-carousel__container
                                span Новинка
                                h2 ARIA MAC-STD
                                p.
                                    Станьте ближе к любимой музыке вместе с P5 Series 2. У последней версии полностью
                                    обновлена конструкция динамиков, что подняло качество звука на новый уровень, а
                                    материалы высокого качества обеспечивают комфорт.
            nav.orbit-bullets
                button.is-active(data-slide='0')
                    span.show-for-sr First slide details.
                    span.show-for-sr Current Slide
                button(data-slide='1')
                    span.show-for-sr Second slide details.
                button(data-slide='2')
                    span.show-for-sr Third slide details.
                button(data-slide='3')
                    span.show-for-sr Fourth slide details.
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")

        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
             .lines__item
             .lines__text
                 a(href='#' class='lines__link') Все производители


    <!-- Trigger/Open The Modal -->
    button#myBtn Open Modal

    <!-- The Modal -->
    div#myModal.modal
       .modal-content
           span.close ×
           form(action='/action_page.php')
               .container
                   h1.heading Log in
                   p Please fill in this form to create an account.
                   hr
                   label(for='email')
                       b Email
                   input(type='text', placeholder='Enter Email', name='email', required='')
                   label(for='psw')
                       b Password
                   input(type='password', placeholder='Enter Password', name='psw', required='')
                   .url
                      label(for='url')
                          b Image url
                      input(type='url', placeholder='Image url', name='url', required='')
                   hr.
                   button.submit(type='submit') Log in
               .container.signin
                   p
                       | Already have an account?
                       a(href='#' class='registration') Registration
                       | .

           //span.close &times;
           //p Some text in the Modal..

    script(src="js/vendor/jquery.js")
    script(src="js/vendor/what-input.js")
    script(src="js/vendor/foundation.js")
    script(src="js/vendor/slider.js")
    script(src="js/vendor/popup.js")
